<manifest xmlns:ns0="http://schemas.android.com/apk/res/android" package="com.tcl.usercare" ns0:versionCode="168" ns0:versionName="V1.6.8.168">

    <uses-sdk ns0:minSdkVersion="14" ns0:targetSdkVersion="23" />

    <uses-permission ns0:name="android.permission.WAKE_LOCK" />
    
    <uses-permission ns0:name="android.permission.INTERNET" />
    
    <uses-permission ns0:name="android.permission.CALL_PHONE" />
    
    <uses-permission ns0:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission ns0:name="android.permission.CHANGE_WIFI_STATE" />
    
    
    
    <uses-permission ns0:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission ns0:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
    <uses-permission ns0:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-permission ns0:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission ns0:name="android.permission.VIBRATE" />
    <uses-permission ns0:name="android.permission.READ_PHONE_STATE" />
    <uses-permission ns0:name="android.permission.RESTART_PACKAGES" />
    
    <uses-permission ns0:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission ns0:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission ns0:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <uses-permission ns0:name="android.permission.CAMERA" />

    <uses-feature ns0:name="android.hardware.camera" ns0:required="false" />
    <uses-feature ns0:name="android.hardware.camera.autofocus" ns0:required="false" />
    
    <uses-permission ns0:name="android.permission.GET_TASKS" />
    
    <uses-feature ns0:glEsVersion="0x00020000" ns0:required="true" />

    
    <uses-permission ns0:name="android.permission.BLUETOOTH" />
    <uses-permission ns0:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission ns0:name="android.permission.READ_PHONE_STATE" />
    <uses-permission ns0:name="android.permission.CAMERA" />
    <uses-permission ns0:name="android.permission.VIBRATE" />
    <uses-permission ns0:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission ns0:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission ns0:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission ns0:name="android.permission.INTERNET" />
    <uses-permission ns0:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission ns0:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission ns0:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission ns0:name="android.permission.CALL_PHONE" />
    <uses-permission ns0:name="android.permission.WRITE_SETTINGS" />
    <uses-permission ns0:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission ns0:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission ns0:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission ns0:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission ns0:name="android.permission.GET_ACCOUNTS" />


    

    
    <uses-permission ns0:name="android.permission.WAKE_LOCK" />
    <uses-permission ns0:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission ns0:name="com.tcl.usercare.permission.C2D_MESSAGE" ns0:protectionLevel="signature" />
    <uses-permission ns0:name="com.tcl.usercare.permission.C2D_MESSAGE" />
    
    
    <uses-permission ns0:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens ns0:anyDensity="true" ns0:largeScreens="true" ns0:normalScreens="true" ns0:resizeable="true" ns0:smallScreens="true" ns0:xlargeScreens="true" />

    <uses-permission ns0:maxSdkVersion="18" ns0:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application ns0:allowBackup="true" ns0:icon="@drawable/ic_launcher" ns0:label="@string/app_name_hd" ns0:name="com.tcl.usercare.app.MyApplication" ns0:supportsRtl="true" ns0:theme="@style/AppTheme">

        
        <meta-data ns0:name="TCL_APPID" ns0:value="@string/app_id" />
        <meta-data ns0:name="TCL_APPKEY" ns0:value="@string/app_key" />
        

        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.splash.SplashActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.ad.AdActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.manuals.GeneralSkillsActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.manuals.GeneralSkillsSearchResultActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.manuals.GeneralSkillsDetailActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.troubleshoot.TroubleShootingActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.diagnose.DiagnoseAutoActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:name="com.tcl.usercare.ui.activity.main.MainActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="android.intent.action.MAIN" />
                <category ns0:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.faq.FaqActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.check.CheckAutoActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.search.SearchActivity" ns0:screenOrientation="portrait" />
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.contact.LachatActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:label="@string/app_name" ns0:name="com.tcl.usercare.ui.activity.survey.CustomerSurveyActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:name="com.tcl.usercare.ui.activity.picture.PicsActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:name="com.tcl.usercare.ui.activity.picture.PicsPickPreviousActivity" ns0:screenOrientation="portrait" />
        
        <activity ns0:name="com.tcl.library.component.fragmentcontainer.FragmentContainerActivity" ns0:screenOrientation="portrait" ns0:windowSoftInputMode="adjustResize" />
        
        <activity ns0:exported="true" ns0:name="com.tcl.usercare.ui.activity.feedback.UserFeedbackActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="com.tcl.usercare.feedback" />
                <category ns0:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity ns0:exported="true" ns0:name="com.tcl.usercare.ui.activity.ecard.EcardBindEmailActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="com.tcl.usercare.card.email" />
                <category ns0:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity ns0:exported="true" ns0:name="com.tcl.usercare.ui.activity.ecard.EcardPurchaseTimeActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="com.tcl.usercare.card.purchase" />
                <category ns0:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity ns0:name="com.tcl.usercare.ui.activity.ecard.EcardTempNewActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="com.tcl.usercare.card.display" />
                <category ns0:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        
        <receiver ns0:exported="true" ns0:name="com.tcl.account.sdkapi.SDKAccountStatusReceiver">
            <intent-filter>
                <action ns0:name="com.tcl.account.intent.accountsdk.action.accountStatus" />
            </intent-filter>
        </receiver>
        
        <receiver ns0:enabled="true" ns0:exported="true" ns0:name="com.tcl.usercare.receiver.LocaleChangedReceiver">
            <intent-filter>
                <action ns0:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <receiver ns0:name="com.tcl.usercare.receiver.APKDownloadReceiver">
            <intent-filter>
                <action ns0:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        
        <receiver ns0:name="com.tcl.usercare.receiver.BootNotificationReceiver">
            <intent-filter>
                <action ns0:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service ns0:name="com.tcl.usercare.service.EcardNotificationService">
            <intent-filter>
                <action ns0:name="com.tcl.account.card.ecardinformservice">
                </action>
            </intent-filter>
        </service>
        
        <activity ns0:hardwareAccelerated="false" ns0:name="com.tcl.account.sdk.activity.WebActivity" ns0:screenOrientation="portrait">
            <intent-filter>
                <action ns0:name="com.tcl.account.sdk.intent.web" />

                <category ns0:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
        <meta-data ns0:name="com.baidu.lbsapi.API_KEY" ns0:value="WPGt9egj6qoMbTk0vjPu2n80" />
        <meta-data ns0:name="com.google.android.maps.v2.API_KEY" ns0:value="AIzaSyC82IrHIuOOJG_riHnM5lwvzVpBbRK7a1I" />
        <meta-data ns0:name="com.google.android.gms.version" ns0:value="@integer/google_play_services_version" />

        
        


        
        <meta-data ns0:name="REGION" ns0:value="GLOBAL" />

        
        <meta-data ns0:name="SCOPE" ns0:value="" />

        
        <meta-data ns0:name="CHANNEL" ns0:value="CHANNEL_VALUE" />

        
        <meta-data ns0:name="DOMAIN_VERSION" ns0:value="DOMAIN_VERSION_VALUE" />

        
        <meta-data ns0:name="TCL_SDK_DOMAIN_VERSION" ns0:value="TCL_SDK_VALUE" />

        
        <meta-data ns0:name="ISTESTING" ns0:value="ISTESTING_VALUE" />

        
        <service ns0:name="com.baidu.location.f" ns0:process=":remote">
            <intent-filter>
                <action ns0:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        
        
        
        
        
        

        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <receiver ns0:name="com.google.android.gcm.GCMBroadcastReceiver" ns0:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                
                <action ns0:name="com.google.android.c2dm.intent.RECEIVE" />
                
                <action ns0:name="com.google.android.c2dm.intent.REGISTRATION" />
                
            </intent-filter>
        </receiver>
        <receiver ns0:name="com.tcl.usercare.receiver.MyPushAlarmReciver">
            <intent-filter>
                <action ns0:name="com.tcl.usercare.alrmreciver" />
                <action ns0:name="com.tcl.usercare.alrmreciver.action" />
            </intent-filter>
        </receiver>

        <service ns0:name="com.tcl.usercare.push.GCMIntentService">
        </service>
        <service ns0:exported="false" ns0:name="com.google.android.gcmn.RegistrationIntentService">
        </service>
        <service ns0:exported="false" ns0:name="com.google.android.gcmn.RegistrationIntentService">
        </service>

        <service ns0:name="com.tcl.usercare.service.PushNotificationService" />

        <meta-data ns0:name="APP_FOR_HD" ns0:value="1" />
        
    </application>
</manifest>