<!DOCTYPE html>
<html lang="en">
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge,chrome=1">
    <title>维护通知</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.css">
</head>
<body>
<form action="form_action.asp" method="get">
  邮件内容: <input type="text" name="mailcontents" />
  <input type="submit" value="提交" />
</form>
</body>
</html>